DATABASE_URL=mysql+aiomysql://your_db_user:your_db_password@localhost:3306/fake_currency_db
DB_HOST=localhost
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=fake_currency_db
DATASET_PATH=../dataset/archive/data/data
FEATURES_PATH=../dataset/archive/Features/Features
MODEL_DIR=./models
SECRET_KEY=generate_your_own_secret_key_here
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
SERVER_PORT=8001
